<div id="login" class="log_back">
  <div class="card" >
    <div class="card-body">
      <br>
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <form id="login-form" class="form" [formGroup]="registerForm" >

              <h1 class="text-center text-info letter"><img src="../../assets/img/Tesla_Logo.png" alt=""></h1>
              <h4 class="text-center text-info letter" style="font-family: 'MS Gothic'; padding-top: 10px; color: white !important;"> R E G I S T R O</h4>
              <div class="form-group" style="padding-top: 10px">

<!--                <label for="nickname" class="text-info letter">Nombre de Usuario:</label><br>-->
                <input type="text" placeholder="Nombre de usuario" formControlName="nickname" #nickname id="nickname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nickname.errors }">
                <div *ngIf="submitted && f.nickname.errors" class="invalid-feedback">
                  <div *ngIf="f.nickname.errors.required">Nombre es requerido</div>
<!--                  <div *ngIf="f.nombre.errors">Formato de email invalido</div>-->
                </div>
                <br>



<!--                <label for="email" class="text-info letter">Correo:</label><br>-->
<!--                <input type="email" #correo name="correo" id="correo" class="form-control"  >-->
                <input placeholder="Correo" type="text" #email formControlName="email" id="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email es requerido</div>
                  <div *ngIf="f.email.errors.email">Formato de email invalido</div>
                </div>
                <br>

<!--                <label for="password" class="text-info letter">Contraseña:</label><br>-->

                <input placeholder="Contraseña" type="password" #password id="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Contraseña requerida</div>
                  <div *ngIf="f.password.errors.minlength">La contraseña debe tener minimo 8 caracteres</div>
                </div>

              </div>

              <div class="form-group">
                <input type="button" class="btn btn-info btn-md enter-button" (click)="registrar_usuario(nickname.value, email.value, password.value)" value="Registrar">
              </div>
              <p id="forgot-link " class="text-center ">
                <span class="letter" >¡Ya tengo cuenta!</span> <a href="login" class="text-info letter"  > Ingresar</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




