<div class="center">
  <div class="row" >
    <img src="../assets/img/Tesla_Logo.png" class="logo">
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="catalog">DISTRIBUIDORES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="order">COMUNIDAD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">NOSOTROS</a>
      </li>
      <li class="nav-item"  *ngIf="log === 1">
        <a class="nav-link" href="orders">CITAS</a>
      </li>
      <li class="nav-item dropdown " style="right: 2%; position: absolute">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img width="30px" height="30px" src="https:\\firebasestorage.googleapis.com\v0\b\lainne-c321f.appspot.com\o\avatar-placeholder.png?alt=media&token=10c6f845-849b-4b10-9fa4-427da8b8ac95">
          {{dataUser}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="right: 7.5%; position: absolute">
          <!--<a class="dropdown-item"  (click)="Perfil()">Perfil</a>-->
          <a class="dropdown-item" (click)="LogOut()">Cerrar sesión</a>
        </div>
      </li>
    </ul>

  </div>
</nav>
<hr>


<div id="login" class="log_back" *ngIf=" !admin">
<h1>Agenda tu prueba de manejo</h1>
  <div class="card">
    <div class="card-body ">
      <br>
      <div id="login-row" class="row justify-content-center align-items-center">
       <img src="../../../assets/img/LOGO_TESLA.png">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <form id="login-form" class="form" [formGroup]="registerForm" >

              <div class="form-group" style="padding-top: 10px">
                <label for="FechaPrueba" class="text-info letter">¿Cuando la quieres?</label><br>
                <input type="datetime-local" formControlName="fecha" #FechaPrueba id="FechaPrueba" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }">
                <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
                  <div *ngIf="f.fecha.errors.required">La fecha es requerida</div>
                  <div *ngIf="fecha_not">Formato de fecha incorrecto</div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 10px">
                <label for="modelo" class="text-info letter">Modelo:</label><br>
                <select name="modelo" id="modelo" #modelo  formControlName="modelo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.modelo.errors } ">
                  <option value="{{y.id}}" *ngFor="let y of dataProduct">{{y.name}}</option>
               <!--   <option value="Grande">Tesla Model X</option>
                  <option value="Grande">Tesla Model 3</option>
                  <option value="Grande">Tesla Model Y</option>-->
                  <!--<option value="Chico">Chico</option>-->
                </select>
                <div *ngIf="submitted && f.modelo.errors" class="invalid-feedback">
                  <div *ngIf="f.modelo.errors.required">Elige slgún módelo</div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 10px">
                <label for="store" class="text-info letter">Selecciona tu distribuidor:</label><br>
                <select name="store" id="store" #store formControlName="store" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.store.errors } " >
                  <option value="{{y.id}}" *ngFor="let y of dataStore">{{y.name}}</option>
                </select>
                <div *ngIf="submitted && f.store.errors" class="invalid-feedback">
                  <div *ngIf="f.store.errors.required">Selecciona un distribuidor</div>
                </div>
              </div>

              <div class="form-group">
                <input type="button" class="btn btn-info btn-md enter-button" value="Agendar"
                       (click)="makeDate(FechaPrueba.value, modelo.value, store.value)">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="login1" class="log_back" *ngIf="admin">
<h1>Ventas</h1>
  <div class="graph">
    <div>
      <div [chart]="Grafica"></div>
    </div>
  </div>
</div>

